__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
build/
dist/

.pytest_cache/
.ruff_cache/
.mypy_cache/

data/
*.parquet
*.csv
spark-warehouse/
metastore_db/
derby.log

.DS_Store
.vscode/
.idea/
.claude/
